[submodule "FeroxRev"]
	path = FeroxRev
url=https://github.com/pocomongo/NecroBot-Rocket-API.git
	branch = master
[submodule "POGOProtos"]
	path = POGOProtos
url=https://github.com/pocomongo/POGOProtos-0.31.0.git